<h1> My tasks </h1>

<% @tasks.each do |task| %>
  <ul>
    <li>
      <% if task.completed == false %>
        <i class="far fa-square"></i>
      <% else %>
        <i class="fas fa-check-square"></i>
      <% end %>
      <%= link_to task.title, task_path(task) %>
      <%= link_to task_path(task),
        method: :delete,
        data: { confirm: "Delete ?" } do %>
        <i class="fas fa-archive"></i>
        <% end %>
    </li>
  </ul>
<% end %>

<%= link_to "Add a new task", new_path %>

